<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 입력</title>
</head>
<body>
    <h1>회원 입력</h1>
    <!--th:action은 Form 데이터를 전송할 주소를 지정, th:object는 Form이 사용할 객체를 지정-->
    <!--action입력은 @{}, object입력은 ${}, field입력은 *{}-->
    <form th:action="@{/members/new}" th:object="${memberForm}" method="post">
        <!--th:field는 Form 객체의 필드와 입력 칸을 연결-->
        <p>
            이름: 
            <input type="text" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">이름 오류</span>
        </p>
        <p>
            이메일:
            <input type="text" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일 오류</span>
        </p>
        <p>
            비밀번호:
            <input type="password" th:field="*{password}">
            <!-- #fields.hassErrors('name')은 name 필드에 오류가 있는지 확인한다. -->
            <!-- th:errors="*{name}" name 필드의 오류 메시지를 출력한다. -->
            <!-- 즉, th:errors="*{password}"는 password 필드의 오류 메시지를 출력한다. -->
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호 오류</span>
        </p>
        <button type="submit">등록</button>
    </form>
</body>
</html>